<component name="libraryTable">
  <library name="spring-context-4.3.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../SSM_ziliao/Spring/01 Spring 官方包及源码/spring-framework-4.3.6.RELEASE/libs/spring-context-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../SSM_ziliao/Spring/01 Spring 官方包及源码/spring-framework-4.3.6.RELEASE/libs/spring-beans-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../SSM_ziliao/Spring/01 Spring 官方包及源码/spring-framework-4.3.6.RELEASE/libs/spring-core-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../SSM_ziliao/Spring/01 Spring 官方包及源码/spring-framework-4.3.6.RELEASE/libs/spring-expression-4.3.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>